bitmex
ccxt
chromedriver
datetime
deap
discord
Flask
Flask-Classy
google-api-python-client
influxdb
lightgbm
matplotlib
numba
numpy
oauth2client
pandas==0.24.2
pillow
pybitflyer
Pysher
python-binance
python-dateutil
python-quoine
python-rapidjson
python-socketio
pytz
pyyaml
retry
requests
schedule
selenium
simplejson
sortedcontainers
ujson
websocket-client
